@media screen and (min-width:280px) and (max-width:388px) {
#header-wrap {width:100% !important; margin: 0px auto !important; float: left !important; }
#header-top-info ul { display: none !important;}
#logo-secton .donate-button { display: none; }
#main-banner .donate-ornge-now { font-size: 13px; padding: 7px 12px; }
#main-banner .donate-ornge-now:hover { font-size: 13px; padding: 7px 12px; }
#main-banner h4 { margin-bottom: 13px; font-size: 16px; }
#main-banner h1 { font-size: 22px; }
#main-banner .main-banner-txt { bottom: 12px; }
#history-1 .history-hedding { width: 226px; z-index: -1; height: 656px;} 
#main-banner .owl-dots { position: absolute; right: -18px; top: 35px; }
#history-1 .active-year { left: 0; top: -39px; }
#history-1 .history-para { padding: 0px 15px 15px; }
#history-1 { padding: 61px 0 51px; }
#founder-message { padding: 57px 0; }
#founder-message .founder-text-wrapper h2 { font-size: 2.1rem; }
#founder-message .founder-text-wrapper p { width: 100%; }
#founder-message .quot-icon svg { width: 131px; height: 131px; }
#founder-message .quot-icon { left: -23px; }
#navageevanam .navajeevnam-box { padding: 22px; }
#navageevanam .navajeevnma-para h1 { font-size: 2.1rem; }
.navajeevnma-para { padding: 16px 0 0; }
#navageevanam .navajee-headding { font-size: 2.0rem; bottom: 0; left: 0; right: 0; }
#navageevanam { padding: 0 0; }
#other-project .hdd-project { font-size: 2.1rem; }
#other-project .vw-all { float: left; margin: 0px auto; }
#other-project .grid figure h2 { font-size: 1.1rem; }
#other-project #owl-demo-2 .item { margin-right: 0px; }
#other-project .owl-nav, #other-project .owl-dots { display: none; }
#join-us-section .box-1 { height: auto; margin-bottom: 38px; }
#testimonials .hdd-project { font-size: 2.1rem; }
#join-us-section { padding: 50px 0 0; }
#testimonials #owl-demo-3 .item { margin-right: 0; }
#testimonials .owl-nav, #testimonials .owl-dots { display: none; }
#awrd-achivmnts .lefft-hdd h1 { font-size: 2.1rem; }
.achiv-wrpr { margin: 35px auto 0; }
#awrd-achivmnts #owl-demo-4 .item { margin-right: 0px; }
#footerr .footr-list ul { margin: 0px auto 28px; }
.year-tb { width: 100%; font-size: 22px; font-weight: bold; border: 1px solid #f7eff3; padding: 9px 14px; }
#page-menu-trigger, #primary-menu-trigger { position: absolute; right: 11px; top: -45px; }
#logo-secton .header-size-sm { margin-left: 0; }
.header-row { width: 100% !important; }
#logo-secton { padding: 7px 0; }
#main-banner .info-icons-banner ul li:nth-child(1) { border-radius: 0; }
#main-banner .info-icons-banner ul li:nth-child(2) { border-radius: 0; }
#main-banner .info-icons-banner ul li:nth-child(3) { border-radius: 0; }
#main-banner .info-icons-banner { position: fixed; bottom: 152px; z-index: 1; right: 0; z-index: 3; }
section {overflow: hidden; }
.top-hegt-space { margin-top: 92px; }
}
@media screen and (min-width:389px) and (max-width:476px) {
#header-wrap {width:100% !important; margin: 0px auto !important; float: left !important; }    
#header-top-info ul { display: none !important;}
#logo-secton .donate-button { display: none; }
#main-banner .donate-ornge-now { font-size: 13px; padding: 7px 12px; }
#main-banner .donate-ornge-now:hover { font-size: 13px; padding: 7px 12px; }
#main-banner h4 { margin-bottom: 13px; font-size: 16px; }
#main-banner h1 { font-size: 22px; }
#main-banner .main-banner-txt { bottom: 12px; }
#history-1 .history-hedding { width: 226px; z-index: -1; height: 656px;} 
#main-banner .owl-dots { position: absolute; right: -18px; top: 35px; }
#history-1 .active-year { left: 0; top: -39px; }
#history-1 .history-para { padding: 0px 15px 15px; }
#history-1 { padding: 61px 0 51px; }
#founder-message { padding: 57px 0; }
#founder-message .founder-text-wrapper h2 { font-size: 2.1rem; }
#founder-message .founder-text-wrapper p { width: 100%; }
#founder-message .quot-icon svg { width: 131px; height: 131px; }
#founder-message .quot-icon { left: -23px; }
#navageevanam .navajeevnam-box { padding: 22px; }
#navageevanam .navajeevnma-para h1 { font-size: 2.1rem; }
.navajeevnma-para { padding: 16px 0 0; }
#navageevanam .navajee-headding { font-size: 2.0rem; bottom: 0; left: 0; right: 0; }
#navageevanam { padding: 0 0; }
#other-project .hdd-project { font-size: 2.1rem; }
#other-project .vw-all { float: left; margin: 0px auto; }
#other-project .grid figure h2 { font-size: 1.1rem; }
#other-project #owl-demo-2 .item { margin-right: 0px; }
#other-project .owl-nav, #other-project .owl-dots { display: none; }
#join-us-section .box-1 { height: auto; margin-bottom: 38px; }
#testimonials .hdd-project { font-size: 2.1rem; }
#join-us-section { padding: 50px 0 0; }
#testimonials #owl-demo-3 .item { margin-right: 0; }
#testimonials .owl-nav, #testimonials .owl-dots { display: none; }
#awrd-achivmnts .lefft-hdd h1 { font-size: 2.1rem; }
.achiv-wrpr { margin: 35px auto 0; }
#awrd-achivmnts #owl-demo-4 .item { margin-right: 0px; }
#footerr .footr-list ul { margin: 0px auto 28px; }
.year-tb { width: 100%; font-size: 22px; font-weight: bold; border: 1px solid #f7eff3; padding: 9px 14px; }
#page-menu-trigger, #primary-menu-trigger { position: absolute; right: 11px; top: -45px; }
#logo-secton .header-size-sm { margin-left: 0; }
.header-row { width: 100% !important; }
#logo-secton { padding: 7px 0; }
#main-banner .info-icons-banner ul li:nth-child(1) { border-radius: 0; }
#main-banner .info-icons-banner ul li:nth-child(2) { border-radius: 0; }
#main-banner .info-icons-banner ul li:nth-child(3) { border-radius: 0; }
#main-banner .info-icons-banner { position: fixed; bottom: 152px; z-index: 1; right: 0; z-index: 3; }
section {overflow: hidden; }
.top-hegt-space { margin-top: 94px; }
}
@media screen and (min-width:477px) and (max-width:575px) {
#header-wrap {width:100% !important; margin: 0px auto !important; float: left !important; }    
#header-top-info ul { display: none !important;}
#logo-secton .donate-button { display: none; }
#main-banner .donate-ornge-now { font-size: 13px; padding: 7px 12px; }
#main-banner .donate-ornge-now:hover { font-size: 13px; padding: 7px 12px; }
#main-banner h4 { margin-bottom: 13px; font-size: 16px; }
#main-banner h1 { font-size: 22px; }
#main-banner .main-banner-txt { bottom: 12px; }
#history-1 .history-hedding { width: 226px; z-index: -1; height: 656px;} 
#main-banner .owl-dots { position: absolute; right: -18px; top: 35px; }
#history-1 .active-year { left: 0; top: -39px; }
#history-1 .history-para { padding: 0px 15px 15px; }
#history-1 { padding: 61px 0 51px; }
#founder-message { padding: 57px 0; }
#founder-message .founder-text-wrapper h2 { font-size: 2.1rem; }
#founder-message .founder-text-wrapper p { width: 100%; }
#founder-message .quot-icon svg { width: 131px; height: 131px; }
#founder-message .quot-icon { left: -23px; }
#navageevanam .navajeevnam-box { padding: 22px; }
#navageevanam .navajeevnma-para h1 { font-size: 2.1rem; }
.navajeevnma-para { padding: 16px 0 0; }
#navageevanam .navajee-headding { font-size: 2.0rem; bottom: 0; left: 0; right: 0; }
#navageevanam { padding: 0 0; }
#other-project .hdd-project { font-size: 2.1rem; }
#other-project .vw-all { float: left; margin: 0px auto; }
#other-project .grid figure h2 { font-size: 1.1rem; }
#other-project #owl-demo-2 .item { margin-right: 0px; }
#other-project .owl-nav, #other-project .owl-dots { display: none; }
#join-us-section .box-1 { height: auto; margin-bottom: 38px; }
#testimonials .hdd-project { font-size: 2.1rem; }
#join-us-section { padding: 50px 0 0; }
#testimonials #owl-demo-3 .item { margin-right: 0; }
#testimonials .owl-nav, #testimonials .owl-dots { display: none; }
#awrd-achivmnts .lefft-hdd h1 { font-size: 2.1rem; }
.achiv-wrpr { margin: 35px auto 0; }
#awrd-achivmnts #owl-demo-4 .item { margin-right: 0px; }
#footerr .footr-list ul { margin: 0px auto 28px; }
.year-tb { width: 100%; font-size: 22px; font-weight: bold; border: 1px solid #f7eff3; padding: 9px 14px; }
#page-menu-trigger, #primary-menu-trigger { position: absolute; right: 11px; top: -45px; }
#logo-secton .header-size-sm { margin-left: 0; }
.header-row { width: 100% !important; }
#logo-secton { padding: 7px 0; }
#other-project .location-item { font-size: 16px; }
#main-banner .info-icons-banner ul li:nth-child(1) { border-radius: 0; }
#main-banner .info-icons-banner ul li:nth-child(2) { border-radius: 0; }
#main-banner .info-icons-banner ul li:nth-child(3) { border-radius: 0; }
#main-banner .info-icons-banner { position: fixed; bottom: 152px; z-index: 1; right: 0; z-index: 3; }
section {overflow: hidden; }
.top-hegt-space { margin-top: 94px; }
}
@media screen and (min-width:576px) and (max-width:767px) {
#header-wrap {width:100% !important; margin: 0px auto !important; float: left !important; }   
#header-top-info ul { display: none !important;}
#logo-secton .donate-button { display: none; }
#main-banner .donate-ornge-now { font-size: 13px; padding: 10px 19px; }
#main-banner .donate-ornge-now:hover { font-size: 13px; padding: 10px 19px; }
#main-banner h4 { margin-bottom: 13px; font-size: 20px; }
#main-banner h1 { font-size: 35px; }
#main-banner .main-banner-txt { bottom: 34px; }
#history-1 .history-hedding { width: 226px; z-index: -1; height: 656px;} 
#main-banner .owl-dots { position: absolute; right: -18px; top: 35px; }
#history-1 .active-year { left: 0; top: -39px; }
#history-1 .history-para { padding: 0px 15px 15px; }
#history-1 { padding: 61px 0 51px; }
#founder-message { padding: 57px 0; }
#founder-message .founder-text-wrapper h2 { font-size: 2.1rem; }
#founder-message .founder-text-wrapper p { width: 100%; }
#founder-message .quot-icon svg { width: 69px; height: 69px; }
#founder-message .quot-icon { left: -23px; top: -11px; }
#navageevanam .navajeevnam-box { padding: 22px; }
#navageevanam .navajeevnma-para h1 { font-size: 2.1rem; }
.navajeevnma-para { padding: 16px 0 0; }
#navageevanam .navajee-headding { font-size: 2.0rem; bottom: 0; left: 0; right: 0; }
#navageevanam { padding: 0 0; }
#other-project .hdd-project { font-size: 2.1rem; }
#other-project .vw-all { float: right; margin: 10px auto; }
#other-project .grid figure h2 { font-size: 1.1rem; }
#other-project #owl-demo-2 .item { margin-right: 0px; }
#other-project .owl-nav, #other-project .owl-dots { display: none; }
#join-us-section .box-1 { height: auto; margin-bottom: 38px; }
#testimonials .hdd-project { font-size: 2.1rem; }
#join-us-section { padding: 50px 0 0; }
#testimonials #owl-demo-3 .item { margin-right: 0; }
#testimonials .owl-nav, #testimonials .owl-dots { display: none; }
#awrd-achivmnts .lefft-hdd h1 { font-size: 2.1rem; }
.achiv-wrpr { margin: 35px auto 0; }
#awrd-achivmnts #owl-demo-4 .item { margin-right: 0px; }
#footerr .footr-list ul { margin: 0px auto 28px; }
.year-tb { width: 100%; font-size: 22px; font-weight: bold; border: 1px solid #f7eff3; padding: 9px 14px; }
#page-menu-trigger, #primary-menu-trigger { position: absolute; right: 11px; top: -45px; }
#logo-secton .header-size-sm { margin-left: 0; }
.header-row { width: 100% !important; }
#logo-secton { padding: 7px 0; }
#other-project .location-item { font-size: 16px; }
#footerr .footr-list ul li { padding-right: 21px; } 
section {overflow: hidden; }
.top-hegt-space { margin-top: 94px; }
}
@media screen and (min-width:768px) and (max-width:991px) {
#header-wrap {width:100% !important; margin: 0px auto !important; float: left !important; }
#header-top-info ul { display: none !important;}
#logo-secton .donate-button { display: none; }
#main-banner .donate-ornge-now { font-size: 16px; padding: 11px 18px; }
#main-banner .donate-ornge-now:hover { font-size: 16px; padding: 11px 18px; }
#main-banner h4 { margin-bottom: 13px; font-size: 22px; }
#main-banner h1 { font-size: 42px; }
#main-banner .main-banner-txt { bottom: 51px; }
#history-1 .history-hedding { width: 226px; z-index: -1; height: 798px;} 
#main-banner .owl-dots { position: absolute; right: -18px; top: 35px; }
#history-1 .active-year { left: -46px; top: -10px; font-size: 4rem; }
#history-1 .history-para h4 { font-size: 1.1rem; }
#history-1 .history-para { padding: 0px 0px 0px; }
#history-1 { padding: 61px 0 51px; }
#founder-message { padding: 57px 0; }
#founder-message .founder-text-wrapper h2 { font-size: 2.1rem; }
#founder-message .founder-text-wrapper p { width: 100%; }
#founder-message .quot-icon svg { width: 108px; height: 108px; }
#founder-message .quot-icon { left: -23px; }
#navageevanam .navajeevnam-box { padding: 22px; }
#navageevanam .navajeevnma-para h1 { font-size: 2.1rem; }
.navajeevnma-para { padding: 16px 0 0; }
#navageevanam .navajee-headding { font-size: 6rem; bottom: -23px; left: 0; right: 0; }
#navageevanam { padding: 0 0; }
#other-project .hdd-project { font-size: 2.1rem; }
#other-project .vw-all { float: right; margin: 10px auto; }
#other-project .grid figure h2 { font-size: 1.3rem; }
#other-project #owl-demo-2 .item { margin-right: 0px; }
#other-project .owl-nav, #other-project .owl-dots { display: none; }
#join-us-section .box-1 { height: auto; margin-bottom: 38px; }
#testimonials .hdd-project { font-size: 2.1rem; }
#join-us-section { padding: 50px 0 0; }
#testimonials .owl-nav, #testimonials .owl-dots { display: none; }
#awrd-achivmnts .lefft-hdd h1 { font-size: 2.1rem; }
.achiv-wrpr { margin: 0px auto 0; }
#awrd-achivmnts #owl-demo-4 .item { margin-right: 0px; }
#footerr .footr-list ul { margin: 0px auto 28px; }
.year-tb { width: 100%; font-size: 22px; font-weight: bold; border: 1px solid #f7eff3; padding: 9px 14px; }
#page-menu-trigger, #primary-menu-trigger { position: absolute; right: 11px; top: -45px; }
#logo-secton .header-size-sm { margin-left: 0; }
.header-row { width: 100% !important; }
#logo-secton { padding: 7px 0; }
section {overflow: hidden; }
.top-hegt-space { margin-top: 94px; }
}
@media screen and (min-width:992px) and (max-width:1150px) {
#header-wrap {width:100% !important; margin: 0px auto !important; float: left !important; }
#navageevanam .navajee-headding { font-size: 7rem; }
#other-project .grid figure h2 { font-size: 1.4rem; } 
#join-us-section .box-1 { height: 535px; }
#awrd-achivmnts .lefft-hdd h1 { font-size: 2.7rem; }
#history-1 .tab-line { width: 17px; }
#history-1 #tab-button .is-active a .tab-line { width: 26px; }
#logo-secton .header-size-sm { margin-left: 0; } 
.menu-link { padding: 11px 7px !important; }
.menu-container .sub-menu::before { bottom: 24px !important; top: 20px !important; right: -4px !important; }
#header-wrap { position: relative; width: fit-content; margin: 0px auto; float: left; }
#logo-secton .donate-button { top: 20px; }
#history-1 .history-para { padding: 1px 12px 1px 18px; }
#navageevanam .counter { font-size: 2rem; }
#navageevanam .counter small { font-size: 16px !important; }
#navageevanam .cuntr-ststcs h3 { font-size: 13px; }
#navageevanam .cuntr-ststcs { padding: 5px 14px; height: 117px; }
#navageevanam { padding: 0 0 21px; }
#logo-secton .donate-button { right: 101px; }
section {overflow: hidden; }
.top-hegt-space { margin-top: 117px; }
}
@media screen and (min-width:1150px) and (max-width:1240px) {
#logo-secton .donate-button { top: 20px; right: 8px; }
#logo-secton .donate-button a { padding: 10px 13px; }
#history-1 .history-para { padding: 1px 12px 1px 18px; }
#navageevanam .navajee-headding { font-size: 8rem; }
#navageevanam .counter { font-size: 2rem; }
#navageevanam .counter small { font-size: 16px !important; }
#navageevanam .cuntr-ststcs h3 { font-size: 13px; }
#navageevanam .cuntr-ststcs { padding: 5px 14px; height: 117px; }
#other-project .grid figure h2 { font-size: 1.3rem; }
#join-us-section .box-1 { height: 537px; }
section {overflow: hidden; }
}
@media screen and (min-width:1241px) and (max-width:1340px) {
#logo-secton .donate-button { right: 70px; }
#navageevanam .navajee-headding { font-size: 9rem; }
#join-us-section { padding: 71px 0 50px; }
}
@media screen and (min-width:1341px) and (max-width:1399px) {

}
@media screen and (min-width:1400px) and (max-width:1499px) {

}
@media screen and (min-width:1500px) and (max-width:1599px) {

}
@media screen and (min-width:1750px) and (max-width:1849px) {
#logo-secton .header-size-sm { margin-left: 0; float: right; margin-right: 74px; }
#main-banner h1 { font-size: 5.2rem; }
#main-banner h4 { font-size: 2.3rem; }
#main-banner .main-banner-txt { bottom: 67px; }
#main-banner .donate-ornge-now { font-size: 16px; padding: 14px 29px; }
#main-banner .donate-ornge-now:hover { font-size: 16px; padding: 14px 29px; }
#history-1 .history-hedding { width: 452px; }
#history-1 .history-hedding img { top: 107px; left: 189px; }
#founder-message .founder-text-wrapper p { width: 70%; }
#navageevanam .cuntr-ststcs { padding: 1px 20px; height: 126px; }
#join-us-section .box-1 { height: 430px; }
}
@media screen and (min-width:1850px) and (max-width:2199px) {
#logo-secton .header-size-sm { margin-left: 0; margin-right: 113px; float: right; }
#logo-secton .donate-button { right: 255px; }
#main-banner h1 { font-size: 5.2rem; }
#main-banner h4 { font-size: 2.3rem; }
#main-banner .main-banner-txt { bottom: 67px; }
#main-banner .donate-ornge-now { font-size: 16px; padding: 14px 29px; }
#main-banner .donate-ornge-now:hover { font-size: 16px; padding: 14px 29px; }
#history-1 .history-hedding { width: 452px; }
#history-1 .history-hedding img { top: 107px; left: 242px; }
#founder-message .founder-text-wrapper p { width: 70%; }
#navageevanam .cuntr-ststcs { padding: 1px 20px; height: 126px; }
#join-us-section .box-1 { height: 430px; }
}
